{% extends "bases.html.twig" %}

{% block main %}

	<h1>Accés autorisé</h1>
	<img src="https://img.huffingtonpost.com/asset/5f84f5e42400007534d1340d.png?cache=CAXUwU9Cga&ops=1200_630" alt="">

{% endblock %}
