{% extends "bases.html.twig" %}

{% block main %}

	{% for category in categories %}
		<h1>{{ category.nom }}</h1>
		<p>{{ category.description }}</p>
		<a href="{{ path('category_show', {'id': category.id}) }}">Voir plus</a>
		<hr>
	{% endfor %}

{% endblock %}
